.#*
*~
*.o
*.so
.deps/
.libs/
.dirstamp
*.la
*.lo
*.log
*.su
*.trs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.sub
/config.status
/configure
/configure~
/libtool
/stamp-h1

/alts
/argv_replaced_helper
/atest
/cmake/libalternatives.pc
build
.vscode

